.htaccess
.htaccess.backup
temp/
.secret.gpg
*.zip
chess/node_modules
chess/apps/web/dist
chess/apps/server/dist
.env
eth-logs/node_modules
eth-logs/dist
eth-logs/.envnode_modules/
**/node_modules/
*.pdf
*.py
